

<!-- <app-rxjsoperators></app-rxjsoperators> -->

<!-- <app-parent></app-parent><hr> -->


<!-- NgStyle gives you fine grained control on individual properties. But if you want to make changes to multiple properties at once, creating a class which bundles those properties and adding the class with NgClass makes more sense. -->
<!-- <button [ngStyle]="{backgroundColor : flag ? 'red' : 'green'}" (click)="flagChange()">Flag</button> -->

<!-- <app-feature1></app-feature1>
<hr>
<button routerLinkActive="active" 
       routerLink="/feature1">Feature1</button> 

<router-outlet></router-outlet> -->



<!-- <h2>ngModel Example and string interpolation</h2>
<input type="text" (change)="onInputChange()" [(ngModel)]="myName"><br>
<div>{{myName}}</div>
<hr>


<h2>ngIf Example with ng-template</h2>
<button (click)="flagChange()">Click button</button>
<div *ngIf="flag else elseblock">
  <p>The flag status is true</p>
</div>
<ng-template #elseblock>
  <p>The flag status is false</p>
</ng-template>
<hr>

<h2>ngFor Example</h2>
<div *ngFor="let e of emp; let i = index">
  <p>My name is {{e.name}} with id : {{e.id}} and index is {{i}}</p>
</div>
<hr>

<h2>ngSwitch Example</h2>
<button (click)="clickButton()">Switch</button>
<div [ngSwitch]="name">
  <li *ngSwitchCase="'user'">
  <p>user....</p></li>
  <li *ngSwitchCase="'admin'">
    <p>admin....</p></li>
  <li *ngSwitchDefault>
    <p>user</p></li>
</div> -->